<?xml version="1.0"?>
<!--
/**
 * Copyright © Hibrido. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <sintegra>
            <api>
                <!-- Can be: 'sandbox' or 'production' -->
                <mode>sandbox</mode>
                <sandbox_access_token backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <production_access_token backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
            </api>
        </sintegra>
    </default>
</config>