<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <mbsocialsharing>
            <module>
                <type>1</type>
            </module>
            <general>
                <enabled>1</enabled>
                <sharecounter>0</sharecounter>
				<thankyou>1</thankyou>
				<show_under_cart>1</show_under_cart>
				<btnsize>32x32</btnsize>
			</general>
			<colorstyle>
				<iconcolor>#FFFFFF</iconcolor>
				<btncolor>unset</btncolor>
				<bgcolor>#FFFFFF</bgcolor>
				<style>vertical</style>
			    <margin_top>150</margin_top>
                <margin_bottom>0</margin_bottom>
				<position>left</position>
				<btnsizedesktop>32x32</btnsizedesktop>
				<btnsizemobile>32x32</btnsizemobile>
				<hideondevice>0</hideondevice>
				<devicemaxwidth>767</devicemaxwidth>
			</colorstyle>
			<socialservice>
				<whatsapp>
					<enabled>1</enabled>
				</whatsapp>
                <facebook>
                    <enabled>1</enabled>
                </facebook>
                <twitter>
                    <enabled>1</enabled>
                </twitter>
                <google>
                    <enabled>1</enabled>
                </google>
                <pinterest>
                    <enabled>1</enabled>
                </pinterest>
                <linkedIn>
                    <enabled>1</enabled>
                </linkedIn>
                <tumblr>
                    <enabled>1</enabled>
                </tumblr>
                <add_more_share>
                    <enabled>1</enabled>
                    <display_menu>click</display_menu>
                    <full_menu>0</full_menu>
                    <number_service>8</number_service>
                </add_more_share>
            </socialservice>
            <float>
                <apply_for>all_pages</apply_for>
            </float>
        </mbsocialsharing>
    </default>
</config>